
*{
  padding:0;
  margin:0;
}
  #game div {
  border: 1px solid black;
  width: 15%;
  min-height: 200px;
  margin: 10px;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  
  flex-direction: column;
 
} 
.gifs{
  margin-left: 20px;
  border: 2px solid green;
  padding: 5px;
  color:violet;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  
  
}
.but{
  align-self: center;
}
.btn{
  display:flex;
  justify-content: center;
  font-size:18px;
  background: rgb(44, 22, 170);
  height: 60px;
}
a:hover {
  color:red;
  background-color: rgb(54, 161, 27);
  
}
.btn:hover{
  background:rgb(150, 23, 150) ;
}
.gif{
  height: 500px;
  width: 100%;
}
.name{
  display: flex;
  justify-content: center;
  color:#4CAF50;
  background:red;
  padding: 20px;
  border: 3px solid rgb(38, 47, 168);
}
.footer{
  display :flex;
  justify-content: space-between;
  width:100%;
  height:50px;
}

.move{
  display: flex;
  justify-content: center;
  color:#4CAF50;
  background:rgb(28, 38, 177);
  padding: 10px;
  border: 3px solid rgb(138, 38, 43);
  
  
}
.head{
  
  
}

.name:hover{
  background-color: teal;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}
.tomato{
  background-color:tomato;
}
.teal{
  background-color: teal;
}

.bg-transparent {
  background-color: gray;
  background-image:url("gifs/11.gif") ;
  
}


